@import "tailwindcss";

@keyframes spin-slow {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(720deg); }
  }
  
  .animate-spin-slow {
    animation: spin-slow 0.5s linear infinite;
  }
  